body {
    color: #fff;
    background-image: url("img/9117609.jpg");
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 20%;
    height: fit-content;

    padding: 20px;
    margin: 15% auto;

    border: 5px solid #fff;
    border-radius: 15px;

    background-color: #120e2f;
    line-height: 3rem;
    font-size: 1.5rem;
}

.label {
    display: block;
}

.form-group {
    line-height: 2rem;
}

.input-text {
    width: 100%;
    box-sizing: border-box;
}

#remember-me {
    display: inline;
}

.btn {
    height: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: white;
}