body {
    font-family: Montserrat, sans-serif !important;
    padding-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.display-inline {
    display: inline;
}

.container {
    font-size: 20px;
    max-width: 650px;
    margin: 0 auto;
    background-color: #e9ebfa;
    padding: 25px;
}

.text-center {
    text-align: center;
}

input, textarea, select {
    font-size: inherit;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    border: none;
    background-color: #0676a4;
    color: white;
    padding: 10px 20px;
    display: block;
    font-size: 25px;
}

input, input:hover, input:focus, textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type=radio] {
    width: auto;
}

.radio-group:first-of-type {
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 20px;
}

.radio-group label {
    display: inline;
}

#agree {
    width: auto;
}